@charset "UTF-8";
*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding:0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo, .menu{
    display: flex;
    align-items: center;
}
nav ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color:#727272;
}
nav .active a, nav a:hover{
    background-color: #39aae1;
    color: white;
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 660px;
}
.column {
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 70px;
    text-shadow: 0px 2px 0px #555;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 19px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    display: flex;
    height: 220px;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
    display: flex;
    flex-direction: column;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
}
.funcionamento{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(206, 206, 206, 0.1);
    padding-bottom: 13px;
    font-weight: 600;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}
.widget_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.widget_body_retangulo{
    width: 151px;
    height: 151px;
    background-color: #39aae1;
    margin: 5px;
    margin-top: 10px;
}
.appoitment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.makeapp{
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    margin-top: 20px;
    border-bottom: 1px solid #888888;
    padding-bottom: 13px;
    font-weight: 600;
    align-items: center;
}
#apptext {
    border-bottom: 1px solid #888888;
    padding-bottom: 20px;
}
.widget_body_flex{
    display:flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data{
    display: flex;
    
}
article .news_posted_at{
    background-color: #2b4c99;
    padding: 10px;
    color: white;
    font-size: 12px;
    margin-right: 2px;
    
}
article .news_comments{    
    background-color: #39aae1;
    padding: 10px;
    color: white;
    font-size: 12px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
.fm1,.fm2,.fm3{
flex: 1;
color:#ffffff;
}
.fm1{
    background-color: #39aae1;
}
.fm2{
    background-color: #0079c7;
}
.fm3{
    background-color: #2b4c99;
}
.fm_frase{
    margin-top: 5px;
    font-size: 12px;
}
.footer_area{
    display: flex;
    
}
.flexColumn{
    flex-direction: column;
}
.footer_area_item{
    color: #ffffff;
    flex: 1;
}

footer .widget_title_text{
  color:#ffffff;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.menu_mobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 20px;
}


@media (max-width:600px){
   
    .banner_headline h1{
        font-size:55px ;
    }
    .banner_headline h2{
        font-size: 17px;
    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
             flex-direction: column;
    }
    #geral section, #geral aside{
        padding: 20px;
    }
    .widget_title_text{
        margin-top: 60px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }
    header{
        height: auto;
    }
    .logo{
        padding: 20px;
        align-self: center;
    }
    .menu_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .mm_line{
        height: 3px;
        background-color: #39aae1;
    }

}